<!doctype html>
<html>
<head>
<style>
td
{
	padding-top:10px;
}

</style>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<font face="Roboto">
<div style="padding-right:3%;padding-left:3%;">
<div align="center"><font color="#3f8acd" size="6">{{title}}</font>
<br>
<table style="color:#8497b0">
<tr><td>Date of Publication</td><td style="padding-left:5px">{{dateOfPublish}}</td></tr>
<tr><td>Date of Event</td><td style="padding-left:5px">{{eventDate}}</td></tr>
<tr><td>Last Date of Registration</td><td style="padding-left:5px">{{lastDateofRegistration}}</td></tr>
</table>
</div>
<br>
<div align="right" style="color:#2f5597; size:auto" ><b>Entry Fees:{{entryFees}}</b></div>
<font size="3">
<p align="left" style="line-height: 200%;">
{{description}}</p>
</div>
</font>

</div>
</font>
</body>
</html>
